Functions

In [2]:
def my_function():
    print("Hello from my function!")

y = my_function()

Hello from my function!

In [4]:
def my_function_with_args(username, greeting):
    print("Hello, %s, from my function!, I wish you %s"%(username, greeting))

In [6]:
my_function_with_args("Pratiksha", "a good day!")

Hello, Pratiksha, from my function!, I wish you a good day!

In [7]:
def sum_two_numbers(a,b):
    return a + b

In [8]:
y = sum_two_numbers(5,17)
print(y)

22

In [10]:
#Define our 3 functions
def my_function():
    print("Hello from my function!")

def my_function_with_args(username, greeting):
    print("?Hello, %s , from my function!, I wish you %s"%(username, greeting))

def sum_two_numbers(a, b):
    return a + b

# print (a simple greeting)
my_function()

# prints - "Hello, Pratiksha Tamang, From my function!, I wish you a great year!"
my_function_with_args("Pratiksha Tamang", "a great year!")

# after this line x will hold the value 3!
x = sum_two_numbers(1,2)
print(x)

Hello from my function!
?Hello, Pratiksha Tamang , from my function!, I wish you a great year!
3

In [ ]:
#Modify this function to return a list of strings as defined above
def list_benefits():
    lst=["More organized code", "More readable code","Easier code refuse","Allowing programmers to share and connect code together"]
    return lst

#Modify this function to concatenate to each benefit  -"is a benefit of functions!"
def build_sentence(info):
    return info + "is a benefit of functions!"

def name_the_benefits_of_functions():
    listA =list_benefits()
    for x in listA:
        print(build_sentence(x))

name_the_benefits_of_functions()

More organized codeis a benefit of functions!
More readable codeis a benefit of functions!
Easier code refuseis a benefit of functions!
Allowing programmers to share and connect code togetheris a benefit of functions!

In [33]:
def list_benefits():
    lst = [ 
    "More organized code",
    "More readable code",
    "Easier code reuse",
    "Allowing programmers to share and connect code together"]

    return lst

def build_sentence(info):
    complete_sentence = info + "is a benefit of functions!"
    return complete_sentence # info +"is a benefit of functions!"

def name_the_benefits_of_functions():
    listA = list_benefits()
    for x in listA:
        print(build_sentence(x))
name_the_benefits_of_functions()

More organized codeis a benefit of functions!
More readable codeis a benefit of functions!
Easier code reuseis a benefit of functions!
Allowing programmers to share and connect code togetheris a benefit of functions!

Function Arguments

In [34]:
# Default arguments
def add_numbers(first_num=0, second_num=0):
    return first_num + second_num

In [36]:
print(add_numbers())# function call without input arguments, will return the results using the default arguments

0

In [37]:
print(add_numbers(7,4)) # Function call with input arguments, will return the results using the supplied arguments

11

Keyword Arguments

In [38]:
def add_numbers(first_num=0, second_num=0):
    print(f"The first number is : {first_num}")
    print(f"The second number is : {second_num}")
    return first_num + second_num

In [39]:
print(add_numbers(first_num=7,second_num=4))

The first number is : 7
The second number is : 4
11

In [42]:
print(add_numbers(second_num=4))

The first number is : 0
The second number is : 4
4

In [43]:
print(add_numbers(first_num=7))

The first number is : 7
The second number is : 0
7

Variable Length Arguments

In [44]:
print("Hello")
print("Hello",  "World")
print("Hello", "World", "from", "TBC")

Hello
Hello World
Hello World from TBC

In [45]:
def make_path(*names):
    result = ""
    for name in names:
        result += name + "/"
    return result

In [46]:
# call the function with 2 arguments
print(make_path("home", "docs"))

home/docs/

In [47]:
# call the same function ,but with 4 arguments
print(make_path("home", "code", "python", "sorter"))

home/code/python/sorter/

Arbitary Keyword Arguments

In [48]:
def show_details(title="Details", **info):
    print(title)
    for name in info:
        print(name, ":", info[name])

In [49]:
show_details(title="warning")

warning

In [50]:
show_details(msg="file created", err="no issues")

Details
msg : file created
err : no issues

In [51]:
show_details(title="error", reason="disk full")

error
reason : disk full

Lambda Expressions, and Map function

In [ ]:
def square(num):
    n = num **2 # return num**2
    return n

In [55]:
square(3)

9

In [56]:
my_nums = [1,2,3,4,5]
for n in my_nums:
    print(square(n))

1
4
9
16
25

In [57]:
my_nums=[1,2,3,4,5]

In [ ]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [59]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[0]

In [60]:
mynames = ['John', 'Cindy', 'Sarah', 'Kelly', "Mike"]

In [61]:
list(map(splicer,mynames))

['even', 'C', 'S', 'K', 'even']

In [64]:
def splicer(mystring):
    if len(mystring) % 2 == 0:
        return 'even'
    else:
        return mystring[3]

In [65]:
mynames = ['John', 'Cindy', 'Sarah', 'Kelly', "Mike"]

In [66]:
list(map(splicer,mynames))

['even', 'd', 'a', 'l', 'even']

In [67]:
def square(num):
    result = num**2
    return result

In [68]:
square(2)

4

In [69]:
def square(num): return num**2

In [70]:
square(2)

4

In [73]:
lambda num: num ** 2

In [74]:
square_l = lambda num: num **2

In [75]:
square_l(3)

9

In [76]:
my_nums = [1,2,3,4,5]

In [77]:
def square(num):
    return num**2

In [78]:
list(map(square,my_nums))

[1, 4, 9, 16, 25]

In [79]:
list(map(lambda x: x ** 2, my_nums))

[1, 4, 9, 16, 25]

In [80]:
names = ["Swikrit Thapa", "Arju Sharma", "Marvira KC", "Nistha Acharya", "Hingish Limbu"]

In [82]:
lambda s: s[0]

In [83]:
list(map(lambda s: s[0], names))

['S', 'A', 'M', 'N', 'H']

In [84]:
list(map(lambda s : s.split()[-1],names))

['Thapa', 'Sharma', 'KC', 'Acharya', 'Limbu']

In [85]:
list(map(lambda s: " ".join(s.split()[: :-1]),names))

['Thapa Swikrit',
 'Sharma Arju',
 'KC Marvira',
 'Acharya Nistha',
 'Limbu Hingish']

In [87]:
list(map(lambda s:s.upper(), names))

['SWIKRIT THAPA',
 'ARJU SHARMA',
 'MARVIRA KC',
 'NISTHA ACHARYA',
 'HINGISH LIMBU']

In [88]:
lambda s: s[: :-1]

In [90]:
list(map(lambda s: s[::-1],names))

['apahT tirkiwS',
 'amrahS ujrA',
 'CK arivraM',
 'ayrahcA ahtsiN',
 'ubmiL hsigniH']

In [91]:
ans = lambda x,y : x +y
ans(2,3)

5