In [1]:
print("This line will be printed.")# print()

This line will be printed.

In [5]:
print(1)

1

In [11]:
# identation
x = 1
if x == 2:
    #idented four spaces
    print("x is 1.")

In [17]:
# keywords
import keyword
print(keyword.kwlist)
print(len(keyword.kwlist))

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

In [21]:
input()
my_val = int(input("Enter a number: "))
type(my_val)

int

In [22]:
print(my_val)

5

In [25]:
#variables and types
student_marks = 25
print(student_marks)
print("student_marks")

25
student_marks

In [26]:
myint = 7
print(myint)
print(type(myint))

7
<class 'int'>

In [27]:
x = int(5.0)
print(x)

5

In [28]:
myfloat = 7.5
print(type(myfloat))
print(myfloat)

<class 'float'>
7.5

In [29]:
myfloat = float(5)
print(myfloat)

5.0

In [30]:
myvar = '7'
print(myvar)
type(myvar)

7

str

In [31]:
y = int(myvar)
type(y)

int

In [32]:
a = 4
b = 2
c = a/b
int(c) # print

2

In [33]:
my_value = 5
print(my_value)

5

In [34]:
# constants
NUM = 5
NUM    # constant must be in capital letter

5

In [35]:
# strings
mystring = 'hello'
print(mystring)

hello

In [36]:
mystring = "hello"
mystring

'hello'

In [37]:
mystring = "Don't worry about apostrophes!"
print(mystring)

Don't worry about apostrophes!

In [38]:
one = 1
two = 2
three = one + two
print(three)

3

In [40]:
a = "hello "
b = "world"
c = a + b
print(c)

hello world

In [43]:
a , b, c = 3, 4, 7
print(a,b)
print(c)

3 4
7

In [44]:
# This will not work!
one = 1
two = 2
hello = "hello"
print(one + two + hello)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [13]:
# change this code
mystring = None
myfloat = None
myint = None

# testing code
if mystring == "hello":
    print("string: %s" % mystring)
if isinstance(myfloat, float) and myfloat == 10.0:
    print("Float: %f" % myfloat)
if isinstance(myint, int) and myint == 20:
    print("Integer: %d" % myint)

In [1]:
mylist = [1,3,4,6,7,9,"hi","hello"]
print(mylist)

[1, 3, 4, 6, 7, 9, 'hi', 'hello']

In [2]:
print(mylist[0])
print(mylist[1])
print(mylist[2])
print(mylist[3])
print(mylist[4])
print(mylist[5])

1
3
4
6
7
9

In [3]:
value = mylist[1]
print(value)

3

In [4]:
new_list = [21,33,45,75,91,99]
print(new_list)

[21, 33, 45, 75, 91, 99]

In [5]:
#append
new_list.append(101)
print(new_list)

[21, 33, 45, 75, 91, 99, 101]

In [6]:
# insert
new_list.insert(1,107)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101]

In [7]:
# extend
new_list.extend([200,201,202])
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201, 202]

In [8]:
#pop
removed_value = new_list.pop()
print(new_list)
print(removed_value)

[21, 107, 33, 45, 75, 91, 99, 101, 200, 201]
202

In [19]:
new_list.pop(1)
print(new_list)

[21, 45, 75, 91, 99]

In [9]:
new_list.remove(101)
print(new_list)

[21, 107, 33, 45, 75, 91, 99, 200, 201]

In [18]:
del mylist[1]
print(mylist)

[1, 6, 7, 9, 'hi', 'hello']

In [11]:
#indexing and slicing
new_list = [21,33,45,75,91,99]

In [12]:
new_list[2]

45

In [16]:
# change this code
mystring = "hello"
myfloat = 10.0
myint = 20

# testing code
if mystring == "hello":
    print("string: %s" % mystring)
if myfloat == 10.0:
    print("Float: %f" % myfloat)
if myint == 20:
    print("Integer: %d" % myint)

string: hello
Float: 10.000000
Integer: 20

In [29]:
#indexing and slicing
new_list = [21,33,45,75,91,99]

In [30]:
new_list[2]

45

In [31]:
new_list[-1]

99

In [32]:
new_list[:3]

[21, 33, 45]

In [33]:
new_list[1:]

[33, 45, 75, 91, 99]

In [34]:
new_list[2:4]

[45, 75]

In [35]:
new_list[1:5:2] # slicing with a step size of two

[33, 75]

In [36]:
new_list[-3:] # specifying position from the last

[75, 91, 99]

In [37]:
new_list[::-1] #reverse the list

[99, 91, 75, 45, 33, 21]

In [38]:
# initialize empty list
numbers = []
strings = []
names = ["Pratiksha", "Riya", "Debu"]

# Add numbers to the numbers list
numbers.append(1)
numbers.append(2)
numbers.append(3)


# Add strings to the strings list
strings.append("Hello")
strings.append("world")

# Access the second name from the names list
second_name = names[1]  # index 1 refers to "Riya"

#print the results
print(numbers) # Output: [1,2,3]
print("The second name on the names list is %s" % second_name)

[1, 2, 3]
The second name on the names list is Riya

In [47]:
name = input("Enter your Name: ")
roll_number = input("Enter your roll_number:")

list=["Riya",1]
list.append(name)
list.append(roll_number)
print(list)

['Riya', 1, 'Pratiksha', '12']

In [48]:
astring = "Hello world !"
print(astring.upper())
print(astring.lower())

HELLO WORLD !
hello world !

In [54]:
astring = "Hello world !"
print(astring.startswith("Hello"))
print(astring.endswith("asdfasdfasdf"))

True
False

In [55]:
astring = "Hello world !"
afewwords = astring.split(" ")
print(afewwords)

['Hello', 'world', '!']

In [57]:
x = 2
print(x == 2) # prints out True
print(x == 3) # prints out False
print(x<3) # prints out True

True
False
True

In [61]:

if (x==2):
    print("Yay!")

In [62]:
(1 >= 3) and (4>2)

False

In [63]:
name = "John"
age = 23
if name == "John" and age == 23:
    print("Your name is john, and you are also 23 years old.")

if name == "John" or name == "Rick":
    print("Your name is either John or Rick.")

Your name is john, and you are also 23 years old.
Your name is either John or Rick.

In [64]:
x = "abc"
x in "abcdef"

True

In [65]:
name = "John"
if name in ["John", "Rick"]:
    print("Your name is either John or Rick.")

Your name is either John or Rick.

In [66]:
x = 4*0.5
if x == 2:
    print("x equals two!")
else:
    print("x does not equal to two.")

x equals two!

In [69]:
odd_list = [1,2,3,4,5]
even_list = []
if odd_list:
    print(odd_list)
if even_list:
    print(even_list)

[1, 2, 3, 4, 5]

In [71]:
# ternary operator
number_type = 'odd' if x%2!=0 else 'even'
print(number_type)

even

In [73]:
number_type = 'odd' if x%2==0 else 'even'
print(number_type)

odd

In [74]:
# The 'is' operator 
x = [1,2,3]
y = [1,2,3]
print(x == y) # prints out True
print(x is y) # prints out False

True
False

In [75]:
num = [1,2,3,5,7]
num_copy = num.copy()

In [77]:
num_copy

[1, 2, 3, 5, 7]

In [78]:
num_copy.sort(reverse=True)
num_copy

[7, 5, 3, 2, 1]

In [79]:
num

[1, 2, 3, 5, 7]

In [80]:
num is num_copy

False

In [81]:
# The "not" operator
print(not False) # Prints out True 
print((not False) == (False)) # prints out False

True
False

In [82]:
# change this code
number = 1
second_number = 5
first_array = []
second_array = []
if number > 15:
    print("1")
if first_array:
    print("2")
if len(second_array) == 2:
    print("3")
if len(first_array) + len(second_array) == 5:
    print("4")
if first_array and first_array[0] == 1:
    print("5")
if not second_number:
    print("6")

In [ ]:
# loops