Dictionaries

In [1]:
phonebook = {}
phonebook["Pratiksha"] = "9817957371"
phonebook["Riya"] = "9842679094"
phonebook["Debu"] = "9836708881"
print(phonebook)

{'Pratiksha': '9817957371', 'Riya': '9842679094', 'Debu': '9836708881'}

In [4]:
phonebook = {
    "Pratiksha" : 9817957371,
    "Riya" : 9842679094,
    "Debu" : 983670881
}
phonebook
#values = list(phonebook.values())

{'Pratiksha': 9817957371, 'Riya': 9842679094, 'Debu': 983670881}

In [5]:
phonebook["Pratiksha"]

9817957371

In [6]:
phonebook["Riya"]

9842679094

In [7]:
phonebook["Debu"]

983670881

In [8]:
phonebook.keys()

dict_keys(['Pratiksha', 'Riya', 'Debu'])

In [9]:
phonebook.values()

dict_values([9817957371, 9842679094, 983670881])

In [10]:
phonebook.items()

dict_items([('Pratiksha', 9817957371), ('Riya', 9842679094), ('Debu', 983670881)])

Iterating over dictionaries

In [11]:
phonebook = {"Pratiksha" : 9817957371, "Riya" :9842679094, "Debu" : 983670881}
for name, number in phonebook.items():
    print("Phone number of %s is %d" % (name, number))
print("\n")
for name in phonebook.keys():
    print("Phone number of %s is %d" % (name, phonebook[name]))
print("\n")
for number in phonebook.values():
    print("Phone number of %s is %d" % (name, number))

Phone number of Pratiksha is 9817957371
Phone number of Riya is 9842679094
Phone number of Debu is 983670881


Phone number of Pratiksha is 9817957371
Phone number of Riya is 9842679094
Phone number of Debu is 983670881


Phone number of Debu is 9817957371
Phone number of Debu is 9842679094
Phone number of Debu is 983670881

Removing a value

In [13]:
phonebook = {
    "Pratiksha" : 9817957371,
    "Riya" : 9842679094,
    "Debu" : 983670881
}
del phonebook["Pratiksha"]
print(phonebook)

{'Riya': 9842679094, 'Debu': 983670881}

Alternatively

In [14]:
phonebook = {
    "Pratiksha" : 9817957371,
    "Riya" : 9842679094,
    "Debu" : 983670881
}
val = phonebook.pop("Riya")
print(phonebook)
val

{'Pratiksha': 9817957371, 'Debu': 983670881}

9842679094

In [15]:
student = ["Pratiksha", "Riya", "Debu"]
marks = [89,72,68]
list(zip(student,marks))

[('Pratiksha', 89), ('Riya', 72), ('Debu', 68)]

Exercise

In [17]:
phonebook = {
    "Pratiksha" : 9817957371,
    "Riya" : 9842679094,
    "Debu" : 983670881
}
#write your code here
phonebook["Simon"] = 9829008880
del phonebook["Debu"]
print(phonebook)
print()
#testing code
if "Simon" in phonebook:
    print("Simon is listed in the phonebook.")
if "Debu" not in phonebook:
    print("Debu is not listed in the notebook.")

{'Pratiksha': 9817957371, 'Riya': 9842679094, 'Simon': 9829008880}

Simon is listed in the phonebook.
Debu is not listed in the notebook.

List comprehensions

In [26]:
sentence="the quick brown fox jumps over the lazy dog"
words=sentence.split()
word_lengths=[]
for word in words:
    if word != "the":
        word_lengths.append(len(word))
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

In [27]:
word_lengths = [len(word) for word in words if word != "the"]
word_lengths

[5, 5, 3, 5, 4, 4, 3]

In [29]:
sentence="the quick brown fox jumps over the lazy dog"
words=sentence.split()
word_lengths=[len(word) for word in words if word != "the"]
print(words)
print(word_lengths)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[5, 5, 3, 5, 4, 4, 3]

Exercise

In [30]:
numbers = [34.6, -203.4, 44.9, 68.3, -12.2, 44.6, 12.7]
newlist = []
print(newlist)

[]

Dictionary Comprehensions

In [31]:
squares = {i:i**2 for i in range(10)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

Sets

In [32]:
"my name is pratiksha and pratiksha is my name" .split()

['my', 'name', 'is', 'pratiksha', 'and', 'pratiksha', 'is', 'my', 'name']

In [35]:
print(set("my name is pratiksha and pratiksha is my name".split()))

{'and', 'name', 'is', 'my', 'pratiksha'}

In [36]:
a = set(["Jake", "John", "Eric"])
print(a)
b = set(["John", "Jill"])
print(b)

{'Jake', 'Eric', 'John'}
{'Jill', 'John'}

In [37]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.intersection(b))

{'John'}

In [38]:
print(a.symmetric_difference(b))

{'Jill', 'Jake', 'Eric'}

In [40]:
a = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])
print(a.difference(b))
print(b.difference(a))

{'Jake', 'Eric'}
{'Jill'}

In [41]:
a.difference_update(b)

In [43]:
print(a)
print(b)

{'Jake', 'Eric'}
{'Jill', 'John'}

In [47]:
a  = set(["Jake", "John", "Eric"])
b = set(["John", "Jill"])

print(a.union(b))
a|b

{'John', 'Jill', 'Jake', 'Eric'}

{'Eric', 'Jake', 'Jill', 'John'}

Exercise

In [54]:
a=set(["Jake", "John", "Eric"])
b=set(["John", "Jill"])

print(a.difference(b))

{'Jake', 'Eric'}

Tuples

In [55]:
info=("John", 85, 1.24)
type(info)

tuple

In [56]:
info="Eric", 82, 1.22 # tuple packing
type(info)

tuple

In [57]:
name,roll,gpa = info # tuple unpacking

print(name)
print(roll)
print(gpa)

Eric
82
1.22

In [58]:
singleton = (1,)
type(singleton)

tuple

In [59]:
mylist = ["Pratiksha Tamang", "Riya Baral", "Debu Bohora", "Dristi Chettri"]
tuple(mylist)

('Pratiksha Tamang', 'Riya Baral', 'Debu Bohora', 'Dristi Chettri')

Accessing Tuple elements

In [60]:
info[0]

'Eric'

In [61]:
info[1:]

(82, 1.22)

In [62]:
info[-1]

1.22

In [63]:
for values in info:
    print(values)

Eric
82
1.22

Tuple Methods

In [65]:
info.count('Eric')

1

In [67]:
info.index('Eric')

0